<table class="table table-hover ">
    <thead>
        <tr>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Email</th>
            <th scope="col">Vérification</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">{{username}}</th>
            <td>{{email}}</td>
            <td>{{#if isVerified}}True
                {{else}}False{{/if}}
            </td>
            <td><button type="button" class="btn bg-danger-subtle border-white" data-bs-toggle="modal"
                    data-bs-target="#deleteUserModal{{this.id}}">
                    Supprimer</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#each users}}
<!-- Modal Modifier -->

<div class="modal fade" id="editUserModal{{this.id}}" tabindex="-1" aria-labelledby="editUserModal{{this.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/edit/users/{{id}}" method="post">
                <div class="modal-body d-grid align-item-center">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" id="username" value="{{username}}" class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" value="{{email}}" class="form-control" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" id="password" value="{{password}}" class="form-control" name="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-warning-subtle border-white">Enregistrer les
                        modifications</button>
                    <button type="button" class="btn bg-danger-subtle border-white"
                        data-bs-dismiss="modal">Fermer</button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>

<!-- Modal Supprimer -->
<div class="modal fade" id="deleteUserModal{{id}}" tabindex="-1" aria-labelledby="deleteUserModal{{id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header bg-danger-subtle">
                <h5 class="modal-title" id="deleteCommentModalLabel">Suppression de commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer cet utilisateur ?</p>
            </div>
            <div class="modal-footer">
                <form action="/delete/users/{{id}}" method="post">
                    <button type="submit" class="btn bg-danger-subtle border-white">
                        Supprimer définitivement
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}