<div class="container">
    <div class="row mt-5 ">
        {{#each mangas}}
        {{#if isVerified}}
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/{{image_url}}" class="card-img-top" alt="Image du manga">
                <div
                    class="card-overlay position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center">
                    <div class="overlay-content text-center">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">Auteur: {{authorId}}</p>
                        <p class="card-text">Genre: {{kindId}}</p>
                        <p class="card-text">Nombre de tomes: {{volume}}</p>
                    </div>
                </div>
                {{#if @root.isAdmin}}
                <button data-bs-toggle="modal" data-bs-target="#editMangaModal{{id}}"
                    class="btn bg-warning-subtle border-white me-2">Modifier</button>
                <button data-bs-toggle="modal" data-bs-target="#deleteMangaModal{{id}}"
                    class="btn bg-danger-subtle border-white me-2">Supprimer</button>
                {{/if}}
                {{/if}}
            </div>
        </div>

        <!-- Modal Modifier -->
        <div class="modal fade" id="editMangaModal{{id}}" tabindex="-1" aria-labelledby="editMangaModalLabel{{id}}"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger-subtle">
                        <h5 class="modal-title" id="editMangaModalLabel{{id}}">Modifier le manga</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/NewsMangas/{{id}}" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="volume" class="form-label">Nombre de tomes : {{volume}}</label>
                                <input type="number" class="form-control" id="volume" name="volume" min="0">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-danger-subtle border-white"
                                data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn bg-warning-subtle border-white">Enregistrer les
                                modifications</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Supprimer -->
        <div class="modal fade" id="deleteMangaModal{{id}}" tabindex="-1" aria-labelledby="deleteMangaModalLabel{{id}}"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger-subtle">
                        <h5 class="modal-title" id="deleteMangaModalLabel{{id}}">Supprimer le manga</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Voulez-vous supprimer ce manga définitivement ? : {{title}}
                    </div>
                    <div class="modal-footer">
                        <form action="/NewsMangas/delete/{{id}}" method="post">
                            <button type="submit" class="btn bg-danger-subtle border-white">Supprimer
                                définitivement</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{#unless mangas}}
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Il n'y a pas d'articles disponibles pour le moment.
            </div>
        </div>
        {{/unless}}
    </div>
</div>